
/*
simple theme
--------------------------------------------------------- */

// // rgba(255, 255, 255)
// $baseColor: #ffffff;
// 
// // rgba(229, 227, 88)
// $mainColor: #e5e358;
// 
// // rgba(60, 145, 207)
// $accentColor: #3c91cf;

/*
natural theme
--------------------------------------------------------- */

// rgb(254, 252, 236)
$baseColor: #fefcec;

// rgb(135, 94, 42)
$mainColor: #875e2a;

// rgb(195, 217, 88)
$accentColor: #c3d92a;

$fontColor: #2d2d2d;
